* {
    background-color: #1F2937;
    font-family: 'Roboto' serif;
}

.header {
    display: flex;
    color: white;
    justify-content: space-around;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: cen;
}

.top-section {
    display: flex;
    width: 75%;
    justify-content: center;
}

.main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.image {
    border: 10px;
    flex: auto;
}

.sign_up {
    background-color: #3882f6;
    width: 100px;
    height: 25px;
    color: white;
    border-radius: 10px;
}

.top-section-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.paragraph {
    font-size: 18px;
    color: #e5e7eb;
}