* {
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif
}

.body {

}

.header {
    display: flex;
    color: white;
    justify-content: space-around;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first {
    display: flex;
    justify-content: center;
    height: 20em;
    align-items: center;
    margin-bottom: 50px;
}

.top-section {
    display: flex;
    width: 75%;
    justify-content: flex-start
}

.main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.image {
    border: black solid 3px;
    flex: auto;
    width: 50%;
    height: auto;
}

.sign_up {
    background-color: #3882f6;
    width: 100px;
    height: 25px;
    color: white;
    border-radius: 10px;
    border: solid 3px white;
}

.top-section-left {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.paragraph {
    font-size: 18px;
    color: #e5e7eb;
}

.information-section {
    height: auto;
    background-color: #E5E7EB;
    border: red solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    background-color: #E5E7EB;
}

.Illustration {
    width: 10em;
    height: 10em;
    border: solid black 3px;
    border-radius: 10px;
    background-color: #E5E7EB;
}

.Illustrations {
    background-color: #E5E7EB;
    display: flex;
    justify-content: flex-start;
}

.descriptions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #E5E7EB;
}

.description {
    background-color: #E5E7EB;
}

.figure {
    background-color: #E5E7EB;
    display: fle
}

.figcaption {
    background-color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quote-section-background {
    background-color: lightgray;
}

.quote-section {
    background-color: lightgray;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    background-color: lightgray;
    font-size: large;
    width: 400px;
    margin: 40px;
}

.sign-up-section {
    height: 300px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    width: 75%;
    height: 50%;
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    color: white;
}

.sign-up-text {
    background-color: #3882f6;
    color: white;
}

.sign-up-texts {
    background-color:#3882f6
}